<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Haa!></title>
        <link href="/css/styles.css" type="text/css"
              rel="stylesheet">
        <link href="/css/bootstrap.min.css" type="text/css"
                rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" type="text/css"  
              rel="stylesheet">
    </head>
    <body>
        <p>Hoo!</p>
        <div>
            <nav>
                <a href="http://www.kaleva.fi">kaleva</a>
                <a href="http://www.iltasanomat.fi">iltapaska</a>
            
            </nav>
            <section>
            <h1 class="about">About</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Age</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>
                </table>
            </section>
            <footer data-dummy="">dkgg</footer>
        </div>
        
        <!--<div class="mun_keksima">jee</div>
        <div class="fancy">ips</div>
        <p id="whatevs_tyyli">tips</p>
        <p id="para1">"Daa"</p>

        <input type="color" class="nice"/>
        -->
        <script src="/lib/jquery-2.1.4.min.js"></script>
        <script src="/controllers/scripts.js"></script>
    </body>
</html>